body{background: rgb(0, 0, 0);
    color: #ffff;
    background-color: #a82c45;
    background-color: #5f1020;
    background-image: url("https://wallpaperaccess.com/full/868866.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;}